semestralka_Karim_Kelifa.xsd

<?xml version='1.0' encoding='UTF-8' ?> 
<!-- was: no XML declaration present -->
<!-- Odkaz na github: https://github.com/Kelifak/socialni_sit/blob/master/semestralka_Karim_Kelifa.xsd-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="socialni_sit">
    <xs:annotation>
      <xs:documentation>Odkaz na github: https://github.com/Kelifak/socialni_sit/blob/master/semestralka_Karim_Kelifa.xsd</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ucet" maxOccurs="unbounded" minOccurs="0"> <!-- Prihlaseny uzivatel --> 
          <xs:complexType>
            <xs:sequence>
              <xs:element name="uzivatel">
                <xs:annotation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="prihl_jmeno"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="jazyk"/>
                    <xs:element type="xs:string" name="zona"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="nastaveni"> 
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="obecne"> <!-- Obecné nastavení --> 
                      <xs:annotation>
                        <xs:documentation>Obecné nastavení  Obecné nastavení  Obecné nastavení</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="jmeno">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="styl" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="uzivatelske_jmeno"/>
                          <xs:element type="xs:string" name="email"/>
                          <xs:element name="web">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="typ" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="pohlavi"/>
                          <xs:element name="sprava_uctu">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="poverena_osoba"/>
                                <xs:element type="xs:string" name="deaktivace_uctu"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                        <xs:attribute type="xs:string" name="pismo" use="optional"/>
                        <xs:attribute type="xs:byte" name="velpisma" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="zabezpeceni"> <!-- nastavení zabezpečeni -->
                      <xs:annotation>
                        <xs:documentation>nastavení zabezpečeni  nastavení zabezpečeni  nastavení zabezpečeni</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="prihlaseni_pres_obrazek"/>
                          <xs:element name="dalsi_zabezpeceni">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nerozpoznane_prihlaseni">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="upozorneni">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="email"/>
                                            <xs:element type="xs:string" name="telefon"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="dvoufazove_prihlaseni">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:short">
                                        <xs:attribute type="xs:string" name="status" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="soukromi"> <!-- nastavení soukromí -->
                      <xs:annotation>
                        <xs:documentation>nastavení soukromí  nastavení soukromí  nastavení soukromí</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="kdo_uvidi_muj_obsah">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="kdo_uvidi_vas_bud_prispev"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="kdo_me_muze_kontakt"/>
                          <xs:element name="kdo_me_muze_vyhled">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="pomoci_emailu"/>
                                <xs:element type="xs:string" name="pomoci_tel_cisla"/>
                                <xs:element type="xs:string" name="vyhledav_mimo_soc_sit"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="timeline">  <!-- nastavení timeline -->
                      <xs:annotation>
                        <xs:documentation>nastavení timeline  nastavení timeline  nastavení timeline</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="kdo_muze_pridavat_obsah_na_vasi_timeline">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="kdo"/>
                                <xs:element type="xs:string" name="kontrol_prid_prisp"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="kdo_uvidi_obsah_na_vasi_timeline">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="kdo_uvidi_prisp_na_timeline"/>
                                <xs:element type="xs:string" name="prispev_ostat_na_vasi_timeline"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="oznaceni_od_uzivatelu">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="kontr_ozn_ostat_prid_k_vasim_prisp"/>
                                <xs:element type="xs:string" name="kdo_uvi_prisp_kde_jste_oznac"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="blokovani"> <!-- nastavení blokování uživatelů -->
                      <xs:annotation>
                        <xs:documentation>nastavení blokování uživatelů  nastavení blokování uživatelů  nastavení blokování uživatelů</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="seznam_omezenych_osob">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="ucet" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="zablokovat_uzivatele"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="jayzk"> <!-- nastavení jazyka -->
                      <xs:annotation>
                        <xs:documentation>nastavení jazyka  nastavení jazyka  nastavení jazyka</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nastavit_sit_v_jazyce"/>
                          <xs:element name="automaticke_prekladani_prispevku">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="jazyk" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="preklad" use="optional"/>
                              <xs:attribute type="xs:string" name="prekladat" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ovladane_jazyky">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="jazyk" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="prekladat" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="upozorneni"> <!-- nastavení upozornění -->
                      <xs:annotation>
                        <xs:documentation>nastavení upozornění  nastavení upozornění  nastavení upozornění</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tady">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="uphlasitost" use="optional"/>
                                  <xs:attribute type="xs:byte" name="zphlas" use="optional"/>
                                  <xs:attribute type="xs:string" name="oznaceni" use="optional"/>
                                  <xs:attribute type="xs:string" name="komentar" use="optional"/>
                                  <xs:attribute type="xs:string" name="sdileni" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="email">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="oznaceni" use="optional"/>
                                  <xs:attribute type="xs:string" name="komentar" use="optional"/>
                                  <xs:attribute type="xs:string" name="sdileni" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="pc_mobil">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="plocha">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="prohlizec" use="optional"/>
                                        <xs:attribute type="xs:string" name="oznaceni" use="optional"/>
                                        <xs:attribute type="xs:string" name="komentar" use="optional"/>
                                        <xs:attribute type="xs:string" name="sdileni" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="mobil">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="oznaceni" use="optional"/>
                                        <xs:attribute type="xs:string" name="komentar" use="optional"/>
                                        <xs:attribute type="xs:string" name="sdileni" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="sms">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:short">
                                  <xs:attribute type="xs:string" name="oznaceni" use="optional"/>
                                  <xs:attribute type="xs:string" name="komentar" use="optional"/>
                                  <xs:attribute type="xs:string" name="sdileni" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>